<div id="<%= dom_id cnab_upload %>">
  <p>
    <strong>File name:</strong>
    <%= cnab_upload.file_name %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= cnab_upload.created_at %>
  </p>

</div>
