<h1 style="text-align: center; font-size: 2em; margin-bottom: 20px;">Lojas</h1>

<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
  <thead>
    <tr>
      <th style="text-align: center; padding: 10px; border: 1px solid #ddd;">Nome da loja</th>
      <th style="text-align: center; padding: 10px; border: 1px solid #ddd;">Cadastrada desde</th>
      <th style="text-align: center; padding: 10px; border: 1px solid #ddd;">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td style="text-align: center; padding: 10px; border: 1px solid #ddd;"><%= store.name %></td>
        <td style="text-align: center; padding: 10px; border: 1px solid #ddd;"><%= store.created_at.strftime("%d/%m/%Y %H:%M") %></td>
        <td style="text-align: center; padding: 10px; border: 1px solid #ddd;">
          <%= link_to "Mostrar detalhes", store, class: "btn btn-show" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="text-align: center; margin-top: 30px;">
</div>